geodata/Lazany_UKSH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VymennyFormatTypy:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VymennyFormatTypy:v1" xmlns:vf="urn:cz:isvs:ruian:schemas:VymennyFormatTypy:v1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:sti="urn:cz:isvs:ruian:schemas:StatIntTypy:v1" xmlns:kri="urn:cz:isvs:ruian:schemas:KrajIntTypy:v1" xmlns:rsi="urn:cz:isvs:ruian:schemas:RegSouIntiTypy:v1" xmlns:vci="urn:cz:isvs:ruian:schemas:VuscIntTypy:v1" xmlns:oki="urn:cz:isvs:ruian:schemas:OkresIntTypy:v1" xmlns:opi="urn:cz:isvs:ruian:schemas:OrpIntTypy:v1" xmlns:pui="urn:cz:isvs:ruian:schemas:PouIntTypy:v1" xmlns:obi="urn:cz:isvs:ruian:schemas:ObecIntTypy:v1" xmlns:spi="urn:cz:isvs:ruian:schemas:SpravObvIntTypy:v1" xmlns:mpi="urn:cz:isvs:ruian:schemas:MopIntTypy:v1" xmlns:mci="urn:cz:isvs:ruian:schemas:MomcIntTypy:v1" xmlns:coi="urn:cz:isvs:ruian:schemas:CastObceIntTypy:v1" xmlns:zji="urn:cz:isvs:ruian:schemas:ZsjIntTypy:v1" xmlns:kui="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" xmlns:uli="urn:cz:isvs:ruian:schemas:UliceIntTypy:v1" xmlns:pai="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" xmlns:soi="urn:cz:isvs:ruian:schemas:StavObjIntTypy:v1" xmlns:ami="urn:cz:isvs:ruian:schemas:AdrMistoIntTypy:v1" xmlns:voi="urn:cz:isvs:ruian:schemas:VOIntTypy:v1" elementFormDefault="qualified" version="2.0.1">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma výměnného formátu.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VOIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/VOIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:AdrMistoIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/AdrMistoIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:StavObjIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/StavObjIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/ParcelaIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:UliceIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/UliceIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/KatUzIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZsjIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/ZsjIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CastObceIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/CastObceIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:MomcIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/MomcIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:MopIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/MopIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:SpravObvIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/SpravObvIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ObecIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/ObecIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:PouIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/PouIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:OrpIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/OrpIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:OkresIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/OkresIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VuscIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/VuscIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegSouIntiTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/RegSouIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KrajIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/KrajIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:StatIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/StatIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../common/xlink/xlink.xsd"/>
	<xs:complexType name="ZaniklyPrvekType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zaniklý prvek.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypPrvkuKod" type="com:TypPrvkuType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrvekId" type="base:Id18Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID (kód) prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID transakce RUIAN zrušení prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZaniklyPrvekSeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam zaniklých prvků.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZaniklyPrvek" type="ZaniklyPrvekType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zaniklý prvek.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HlavickaVymennyFormatType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hlavička výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VerzeVFR" type="com:VerzeVFRType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Verze výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypZaznamu" type="com:TypZaznamuSouboruType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ záznamu výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypDavky" type="com:TypDavkySouboruType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ dávky výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypSouboru" type="com:TypVymennehoFormatuType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ souboru výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Datum generování souboru.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransakceOd" type="com:TransakceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vygenerované transakce od.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransakceDo" type="com:TransakceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vygenerované transakce do.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PredchoziSoubor" type="base:Nazev255Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Předchozí vygenerovaný soubor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlnySoubor" type="base:Nazev255Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název posledního souboru s plnými datami (měsíční kopie).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Metadata" type="MetadataType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Metadata výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlatnostDatK" type="com:PlatnostDatKType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Platnost dat k datu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetadataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Metadata výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attributeGroup ref="xlink:simpleAttrs"/>
	</xs:complexType>
	<xs:element name="VymennyFormat" type="vf:VymennyFormatType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výměnný formát.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VymennyFormatType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní typ výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hlavicka" type="HlavickaVymennyFormatType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Hlavička výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="VymennyFormatDataType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Data výměnného formátu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VymennyFormatDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Data výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Staty" type="StatGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam států.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionySoudrznosti" type="RegionGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam regionů soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kraje" type="KrajGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam krajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vusc" type="VuscGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Okresy" type="OkresGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam okresů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orp" type="OrpGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam ORP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pou" type="PouGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam POU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obce" type="ObecGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam obcí.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpravniObvody" type="SpravObvGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam správních obvodů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mop" type="MopGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam MOP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Momc" type="MomcGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam MOMC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CastiObci" type="CastObceGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam částí obcí.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KatastralniUzemi" type="KatUzGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam katastrálních území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zsj" type="ZsjGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam ZSJ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ulice" type="UliceGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam ulíc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parcely" type="ParcelaGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam parcel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StavebniObjekty" type="StavObjGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam stavebních objektů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdresniMista" type="AdrMistoGMLSeznamIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam adresních míst.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZaniklePrvky" type="ZaniklyPrvekSeznamType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam zaniklých prvků.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam států.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Stat" type="sti:StatGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území státu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KrajGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam krajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kraj" type="kri:KrajGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území kraje.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegionGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam regionů soudržnosti.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegionSoudrznosti" type="rsi:RegSouGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území regionu soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VuscGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vusc" type="vci:VuscGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území vyššího územně samosprávného celku.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OkresGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam okresů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Okres" type="oki:OkresGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území okresu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrpGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam ORP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Orp" type="opi:OrpGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod obce s rozšířenou působností.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PouGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam POU.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pou" type="pui:PouGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod obce s pověřeným obecním úřadem.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObecGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam obcí.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Obec" type="obi:ObecGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území obce, území vojenského újezdu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpravObvGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam správních obvodů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpravniObvod" type="spi:SpravObvGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod v hlavním městě Praze.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MopGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam MOP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mop" type="mpi:MopGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území městského obvodu v hlavním městě Praze.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MomcGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam MOMC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Momc" type="mci:MomcGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území městského obvodu nebo městské části územně členěného statutárního města.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CastObceGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam částí obcí.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CastObce" type="coi:CastObceGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Část obce.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZsjGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam ZSJ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Zsj" type="zji:ZsjGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území základní sídelní jednotky.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam katastrálních území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KatastralniUzemi" type="kui:KatUzGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UliceGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam ulíc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ulice" type="uli:UliceGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Ulice nebo jiné veřejné prostranství.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam parcel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parcela" type="pai:ParcelaGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Pozemek v podobě parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StavObjGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam stavebních objektů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StavebniObjekt" type="soi:StavObjGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Stavební objekt.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdrMistoGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam adresních míst.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdresniMisto" type="ami:AdrMistoGMLIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Adresní místo.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VOGMLSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam volebních okrsků</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VolebniOkrsek" type="voi:VOGMLIntType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
